/* Celkový styl scrollbar */
.modal_table::-webkit-scrollbar {
  width: 1.5rem; /* Šířka posuvníku */
  height: 1.5rem; /* Výška posuvníku (pro horizontální scroll) */
}
  
@media screen and (min-width: 1024px){
  /* Celkový styl scrollbar */
  .modal_table::-webkit-scrollbar {
      width: 0.75rem; /* Šířka posuvníku */
      height: 0.75rem; /* Výška posuvníku (pro horizontální scroll) */
  }
}
  
/* Styl drážky (track) posuvníku */
.modal_table::-webkit-scrollbar-track {
  background: #f0f0f0; /* Barva pozadí drážky */
  border-radius: 10px; /* Zaoblení drážky */
}

/* Styl posuvníku (thumb) */
.modal_table::-webkit-scrollbar-thumb {
  background: #16a34a; /* Barva posuvníku */
  border-radius: 10px; /* Zaoblení posuvníku */
  border: 2px solid #f0f0f0; /* Okraj kolem posuvníku (pro lepší kontrast) */
}

/* Styl při hover efektu */
.modal_table::-webkit-scrollbar-thumb:hover {
  background: #15803d; /* Tmavší barva při hover efektu */
}